CHECK_INTERVAL=30000

API_URL=http://127.0.0.1:3000/healthz

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=englishdb

BOUNCER_HOST=localhost
BOUNCER_PORT=6432

REDIS_PORT=6379
REDIS_HOST=localhost

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=secret
MONGO_DB=langoo


FRONTEND_URL=http://127.0.0.1:5173

CADDY_URL=http://127.0.0.1


FAILURE_THRESHOLD=3
RECOVERY_THRESHOLD=2
PROBE_TIMEOUT=5000

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

BALE_TOKEN=
BALE_CHAT_ID=